body {
    font-family: 'Courier New',  sans-serif;
    background-color: #ffffff;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(51, 51, 51);
    padding: 20px;
    margin:0;
}

h1 {
    font-family: 'Courier New', monospace;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: inline-block;
    margin-left: 1%;
    width: 100px;
}

h3 {
    margin-left: 20px;
    color: #666666;
}

a {
    text-decoration: none;
    color: #0099ff;
}

a:hover {
    color: #ff6600;
}

/* Novo código */

.container {
    display: flex;
    flex-wrap: wrap;
    
}

.card {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    border: 15px solid rgb(51, 51, 51);
    justify-content: space-between;
}

.card img {
    width: 100px;
    height: 100px;
}

footer {
    background-color: rgb(51, 51, 51);
    color: #ffffff;
    padding: 25px;
    text-align: center;
}
