
body {
    background-color: #ffffff;
    
}

.tabela {
    width: 100%;
    max-width: 10000px;
    background-color: #000000fb;
    border-style: solid;
    border-color: #050505;
    
}

.sla{
    display: flex; 

}

.item {
    
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
  
}
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery img {
    max-width: 200px;
    max-height: 200px;
    padding: 30px 0;
    margin: 60px;
    cursor: pointer;
    justify-content: space-between;
    
    
}

.sla{
display:flex;
}

  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    max-width: 800%;
    max-height: 800%;
    overflow: hidden; /* Impede que a imagem se estenda além do contêiner */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-image {
    max-width: 100%; /* Controla o tamanho máximo da imagem ampliada */
    max-height: 100%; /* Controla o tamanho máximo da imagem ampliada */
  }

  .p{
    font-family: 'Poppins', sem serifa;
    color: #000;
    font-size: 35px;
    
}
